NEXT_PUBLIC_ENVIRONMENT=development
NEXT_PUBLIC_SHOW_MINT=true
#fetch userdevnfts, for example on ropsten, etc
#NEXT_PUBLIC_FETCH_NFTS_DEV=true
NEXT_PUBLIC_VERCEL_GIT_COMMIT_SHA=$VERCEL_GIT_COMMIT_SHA
#NEXT_PUBLIC_ADDRESS=


#Contract to filter result from, animetas, gfc
NEXT_PUBLIC_FILTER_COMPANY=gfc
#mainnet,ropsten,etc
NEXT_PUBLIC_NETWORK_SUPPORTED=ropsten
### no wallet setup, provider
NEXT_PUBLIC_PROVIDER_URL=
###
NEXT_PUBLIC_OPENSEA_API=
NEXT_PUBLIC_CORS_PROXY=
NEXT_PUBLIC_RENFT_API=http://localhost:8000/subgraphs/name/nazariyv/ReNFT
#NEXT_PUBLIC_RENFT_API=https://api.thegraph.com/subgraphs/name/nazariyv/rentnft
NEXT_PUBLIC_EIP721_API=https://api.thegraph.com/subgraphs/name/wighawag/eip721-subgraph
NEXT_PUBLIC_EIP1155_API=https://api.thegraph.com/subgraphs/name/amxx/eip1155-subgraph

# FIREBASE
NEXT_PUBLIC_FIREBASE_API_KEY=
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=
NEXT_PUBLIC_FIREBASE_DATABASE_URL=
NEXT_PUBLIC_FIREBASE_PROJECT_ID=
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDERID=
NEXT_PUBLIC_FIREBASE_APP_ID=
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=

# if you want to disable create-react-app opening another browser and so on
#NEXT_PUBLIC_DEBUG=app:contract,app:timer,app:fetch
#NEXT_PUBLIC_DEBUG=app:contract:*
