@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap");

.btn {
  @apply relative outline-none block;
  padding: 4px;
  background: black;
}
.btn > div {
  @apply relative py-3 px-4 bg-rn-green shadow-rn-drop-green text-white leading-none font-display uppercase text-sm whitespace-nowrap;
  right: 8px;
  bottom: 8px;
}

.btn--disabled {
  @apply cursor-not-allowed;
}

.btn--disabled > div {
  @apply bg-rn-grey shadow-rn-drop-grey;
}

.btn__orange > div {
  @apply bg-rn-orange shadow-rn-drop-orange;
}

.btn__purple > div {
  @apply bg-rn-purple shadow-rn-drop-purple;
}

.menu__item {
  @apply relative outline-none block;
  padding: 4px;
  background: black;
}
.menu__item > div {
  @apply relative py-3 px-4 bg-rn-purple shadow-rn-drop-purple text-white leading-none font-display uppercase text-sm whitespace-nowrap;
  right: 8px;
  bottom: 8px;
}

.menu__item--active > div {
  @apply bg-rn-orange shadow-rn-inset-orange;
  right: 0;
  bottom: 0;
}

.skeleton {
  height: 510px;
  width: 250px;
  z-index: 11;
}
.skeleton-item {
  background: rgb(243, 243, 243);
  margin: 6px auto;
  border-radius: 4px;
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  z-index: 0;
  background-size: 250px;
  animation: skeletonAnim 1s infinite linear;
}
.skeleton-item.control {
  width: 90%;
  height: 32px;
}
.skeleton-item.img {
  width: 90%;
  height: 300px;
}
.skeleton-item.meta-line {
  width: 90%;
  height: 22px;
}

.skeleton-item.btn {
  width: 60%;
  height: 40px;
}

@keyframes skeletonAnim {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 250px;
  }
}

.checkbox {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  visibility: hidden;
}
.checkbox-container {
  display: block;
  height: 32px;
  position: relative;
}

/* Creating a custom checkbox based on demand */
.checkmark {
  position: relative;
  display: block;
  top: -32px;
  left: 0;
  background-color: black;
  cursor: pointer;
  box-sizing: border-box;
  @apply transition duration-200 ease-in-out;
  height: 32px;
  width: 32px;

}

.checkmark::before {
  content: " ";
  position: absolute;
  left: -4px;
  bottom: 10px;
  height: 24px;
  width: 24px;
  @apply transition duration-200 ease-in-out;
  @apply bg-rn-green shadow-rn-drop-green;
}

.checkmark:hover::before {
  @apply bg-rn-orange shadow-rn-drop-orange;
}

/* Specify the background color to be shown when checkbox is checked */
.checkbox:checked  ~ .checkmark::before {
  @apply bg-rn-orange shadow-rn-drop-orange;
}
