.Catalogue {
  margin: 4vh 0;
  position: relative;
}

.form-section {
  border-bottom: 2px solid;
  margin-bottom: 16px;
}

.legend-field {
  color: #fff;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -21px;
}

.batch {
  position: fixed;
  bottom: 0;
  left: 0;
  background: #9a65ca;
  border-top: 8px solid #000;
  width: 100%;
  padding: 32px;
  z-index: 9;
}

.batch__inner {
  display: flex;
  align-items: center;
}

.for {
  color: #fff;
  margin-bottom: 8px;
}

.Nft__item {
  margin-bottom: 60px;
}

@media screen and (min-width: 600px) {
  .Catalogue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Nft__item {
    width: 45%;
  }
}

@media screen and (min-width: 900px) {
  .Catalogue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Nft__item {
    width: 28%;
  }
}
