.Catalogue {
  margin: 4vh 0;
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -21px;
}

.Nft__item {
  margin-bottom: 60px;
}

@media screen and (min-width: 600px) {
  .Catalogue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Nft__item {
    width: 45%;
  }
}

@media screen and (min-width: 900px) {
  .Catalogue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .Nft__item {
    width: 28%;
  }
}
