.copy {
    flex-grow: 1;
    color:white;
}

.soc {
    display: flex;
    color:white;
}

.discord {
    background: url(./img/discord.png);
    width: 48px;
    height: 48px;
    display: block;
    background-size: 48px 48px;
    color:white;
}

.twitter {
    background: url(./img/twitter.png);
    width: 48px;
    height: 48px;
    display: block;
    background-size: 48px 48px;
    color:white;
}