

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;

  &__wallet {
    display: flex;

    &-network {
      margin-right: 10px;
      align-self: center;
    }

    &-user {
      background: #fdfff9;
      color: $purple;
      border: 4px solid $black;
      text-align: center;
      font-size: 18px;
      padding: 8px 18px;
      line-height: 1;
      box-shadow: 6px 6px 0 $black;
    }
  }

  &__logo {
    background-image: url(./img/logo.svg);
    background-size: auto 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 300px;
    flex-grow: 1;
  }
}
.dashboard-header {
  &__lending {
    margin-top: 30px;
    background-image: url(./img/Lending-Headline.svg);
    background-size: auto 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 350px;
    flex-grow: 1;
  }

  &__renting {
    margin-top: 30px;
    background-image: url(./img/Renting-Headline.svg);
    background-size: auto 50px;
    background-repeat: no-repeat;
    height: 50px;
    width: 350px;
    flex-grow: 1;
  }
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  color: $white;
  transform: translate(-50%, -50%);
  font-size: 25px;
}

.batch {
  position: fixed;
  bottom: 0;
  left: 0;
  background: $purple;
  border-top: 8px solid $black;
  width: 100%;
  padding: 32px;
  z-index: 9;
}

.batch__inner {
  display: flex;
  align-items: center;
}

.pagination {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 32px;

  li {
    margin: 0 8px;

    &.page-count {
      color: $white;
      font-size: 28px;
    }
  }
}

.modal-dialog-title {
  font-size: 24px;
  text-align: center;
  margin: 24px 0;
}

