
#root {
    position: relative;
    min-height: 100%;
    height: 100%;
}

.app {
    flex-grow: 1;
    position: relative;
    min-height: 100%;
    height: 100%;

    &__container {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        min-height: 100%;
        height: 100%;
    }
}

.content-header {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 16px;
    color: #fff;
    padding-bottom: 8px;
    border-bottom: 2px solid #fff;
}

.content-wrapper.footer-content {
    line-height: 1;
    padding: 24px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.text-content {
    padding: 32px;
    font-size: 24px;
    color: #fff;

    .bolder {
        text-transform: uppercase;
    }

    p {
        margin-bottom: 16px;
    }
}

.copy {
    flex-grow: 1;
}

.soc {
    display: flex;
}

.discord {
    background: url(./img/discord.png);
    width: 48px;
    height: 48px;
    display: block;
    background-size: 48px 48px;
}

.twitter {
    background: url(./img/twitter.png);
    width: 48px;
    height: 48px;
    display: block;
    background-size: 48px 48px;
}

.main {
    position: relative;
    padding: 0 80px;
    min-height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content-wrapper {
    position: relative;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    display: flex;

    &.fixed-position {
        position: fixed;
        top: 0;
        padding: 0 80px;
        left: 50%;
        z-index: 9;
        background: #fff;
        height: 60px;
        margin-bottom: 0;
        width: 100%;
        padding-bottom: 12px;
        box-shadow: 15px 0px #fff;
        transform: translate(-50%, 0);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 101%;
            height: 100%;
            box-shadow: 5px 5px #000;
        }
    }

    &.mb-l {
        margin-bottom: 32px;
    }

    &.main-content {
        flex-grow: 1;
        display: flex;
        border: 4px solid #000;
        box-sizing: border-box;
        box-shadow: 5px 5px 0 #000;
        background-image: linear-gradient(rgb(244, 62, 119) 0%, rgb(104, 87, 159) 100%);
    }

    &.footer-content {
        line-height: 1;
        padding: 24px 0;
    }
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    min-height: 250px;

    &__navigation {
        justify-content: flex-end;
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
    }

    &__items {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        padding-top: 48px;
        justify-content: center;
        overflow: hidden;
    }
}

.switch {
    display: flex;
    align-items: center;

    &__title {
        font-size: 22px;
        color: #fff;
        padding-right: 16px;
    }
}

.toggle {
    position: relative;
    width: 80px;
    height: 40px;
    background: #000;

    &__pin {
        position: absolute;
        cursor: pointer;
        top: -2px;
        left: -2px;
        width: 36px;
        height: 36px;
        transition: all 250ms;
        background: #36cba5;
        box-shadow: 4px 4px 0 #299b7c, 3px 3px 0 #299b7c, 2px 2px 0 #299b7c, 1px 1px 0 #299b7c;
    }

    &__active {
        .toggle__pin {
            left: 38px;
        }
    }
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  
    &__user {
      background: #fdfff9;
      color: #9c65cd;
      border: 4px solid #000;
      text-align: center;
      font-size: 18px;
      padding: 8px 18px;
      line-height: 1;
      box-shadow: 6px 6px 0 #000;
    }
  
    &__logo {
      background-image: url(./img/logo.jpg);
      background-size: auto 90px;
      background-repeat: no-repeat;
      height: 90px;
      width: 290px;
      flex-grow: 1;
    }
  }

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

.batch {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #9a65ca;
    border-top: 8px solid #000;
    width: 100%;
    padding: 32px;
    z-index: 9;
}

.batch__inner {
    display: flex;
    align-items: center;
}

.leaderboard-leader {
    margin: 0 auto;
    display: flex;
    color: #fff;
    font-size: 24px;
    justify-content: center;
    margin: 24px 0 60px;

    &-item {
        width: 220px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-top: 90px;

        &.first {
            margin-top: 0;

            .result {
                position: relative;
                top: 0;
                left: 0;
            }
        }
    }

    .img {
        width: 84px;
        height: 84px;
        background: #fff;
        border-radius: 84px;
        box-shadow: 4px 4px 0 #000;
        margin-bottom: 8px;
    }

    .name {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1;
    }

    .stat {
        width: 150px;
        color: #fff;
        font-size: 19px;
        
        .nft__meta_row {
            line-height: 1;
        }
        
        .nft__meta_dot {
            border-color: #fff;
        }
        
        .nft__meta_value {
            color: #fff;
        }
    }

    .result {
        position: absolute;
        color: #F19C38;
        font-size: 60px;
        position: absolute;
        font-weight: bold;
        text-shadow: 4px 4px 0 #000;
        display: flex;
        align-items: center;
        line-height: 1;
        top: 40px;
       left: 140px;

        div:first-child {
            top: 3px;
            position: relative;
        }
    }
}

.leaderboard-list {
    width: 420px;
    margin: 0 auto;
    text-align: center;
}

.leaderboard-list-item {
    color: #fff;
    font-size: 22px;
    border-bottom: 2px solid #fff;
    margin-bottom: 8px;
    padding-bottom: 8px;

    &:last-child {
        border-bottom: 0;
    }
}

.dashboard-list-view {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: -64px;

    h2.lending {
        font-size: 55px;
        text-transform: uppercase;
        font-weight: bold;
        color: #F4B050;
        text-shadow: 3px 3px 0 #000;
    }

    h2.renting {
        font-size: 55px;
        text-transform: uppercase;
        font-weight: bold;
        color: #BD99EE;
        text-shadow: 3px 3px 0 #000;
    }

    .list {
        width: 100%;
        font-size: 19px;
        color: #fff;
        line-height: 1;
        
        td.column {
            padding: 16px 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        th {
            border-bottom: 2px solid #fff;            
            white-space: nowrap;
            padding-bottom: 4px;
        }

        tr:hover td {
            background: rgba(255,255,255, .25);
        }
        
        th.action-column {
            min-width: 200px;
        }
    }

    .dashboard-section {
        width: 100%;
        text-align: left;
    }
}