.loader {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    .elem {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        animation: loader-anim 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

        &.elem-one {
            background: #35cca5;
            left: 8px;
            animation-delay: -0.24s;
        }

        &.elem-two {
            background: #f99806;
            left: 32px;
            animation-delay: -0.12s;
        }

        &.elem-three {
            background: #9a65cb;
            left: 56px;
            animation-delay: 0;
        }
    }
  }
  
  @keyframes loader-anim {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  
  