.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;

    &__item {
        background: #9a65ca;
        border: 0;
        font-family: 'Press Start 2P', cursive;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 12px;
        text-decoration: none;
        white-space: nowrap;
        line-height: 1;
        color: #fff;
        box-shadow: 7px 7px 0 #6b3b9b, 
        6px 6px 0 #6b3b9b, 
        5px 5px 0 #6b3b9b, 
        4px 4px 0 #6b3b9b,
        3px 3px 0 #6b3b9b,
        2px 2px 0 #6b3b9b, 
        1px 1px 0 #6b3b9b;
        cursor: pointer;
        outline: none;
        position: relative;
        transition: all 250ms;
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
        
        &:hover {
            color: #fff;
            background: #F19C38;
            box-shadow: 7px 7px 0 #DF732C, 
            6px 6px 0 #DF732C, 
            5px 5px 0 #DF732C, 
            4px 4px 0 #DF732C,
            3px 3px 0 #DF732C,
            2px 2px 0 #DF732C, 
            1px 1px 0 #DF732C;
          
        }
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 3px;
            left: 3px;
            z-index: -1;
            padding: 4px;
            background: black;
        }
        
        &-active {
            background: #F19C38;
            color: #fff;
            box-shadow: inset 3px 3px 0 #DF732C;
            top:6px;
            left:6px;
            &:before {
                top:-4px;
                left:-4px;
            }
            &:hover {
                box-shadow: inset 8px 8px 0 #DF732C;
            }
        }
    }
}