.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;

    &__item {
        background: #9a65ca;
        border: 0;
        font-family: 'Press Start 2P';
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 12px 8px;
        text-decoration: none;
        white-space: nowrap;
        line-height: 1;
        color: #fff;
        box-shadow: 4px 4px #6b3b9b, 3px 3px #6b3b9b, 2px 2px #6b3b9b, 1px 1px #6b3b9b;
        cursor: pointer;
        outline: none;
        position: relative;
        transition: all 250ms;
        margin-right: 4%;
        
        &:hover {
            color: #fff;
            background: #F19C38;
            box-shadow: 4px 4px #DF732C, 3px 3px #DF732C, 2px 2px #DF732C, 1px 1px #DF732C;
        }
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            box-shadow: 10px 0px #000, 0px 10px #000, 10px 10px #000;
        }
        
        &-active {
            background: #F19C38;
            color: #fff;
            box-shadow: 2px 2px #F19C38, 1px 1px #F19C38;
            padding: 12px 12px 4px;
            top: 4px;

            &:before {
                box-shadow: 4px 0px #000, -4px -4px #000, -4px 7px #000, 6px 7px #000, 6px -4px #000;
            }
        }
    }
}