.modal-dialog {
    background: rgb(238, 230, 246);
    border: 3px solid rgb(153, 111, 200);
    padding: 24px;
    min-width: 450px;

    .nft__meta_row {
        font-size: 21px;
    }

    .nft__meta_dot {
        border-bottom: 2px dotted #000;
    }

    .nft__meta_value {
        max-width: 300px;
    }

    &-for {
        font-size: 20px;
        display: flex;
        align-items: baseline;

        .dot {
            flex-grow: 1;
            border-bottom: 2px dotted #000;
            margin: 0 5px;
        }
    }

    &-fields {
        display: flex;
        flex-direction: column;
    }

    &-section {
        margin-bottom: 16px;
    }

    &-button {
        position: sticky;
        background: #eee6f6;
        bottom: 0;
        padding: 0 0 24px;
        z-index: 9;
        text-align: center;
    }
}