.nft {
    position: relative;
    width: 260px;
    display: flex;
    margin: 0 20px 40px;
    color: #fff;
    font-size: 21px;
    flex-direction: column;
    z-index: 1;

    &__image {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        background: #fff;
        box-shadow: 5px 5px 0 #000;
        overflow: hidden;
        margin-bottom: 12px;

        img {
            height: auto;
        }
    }

    &__meta {
    
        &_row {
            display: flex;
            box-sizing: border-box;
            align-items: baseline;
        }

        &_value {
            max-width: 150px;
            overflow: hidden;
            text-overflow: ellipsis;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        &_dot {
            flex-grow: 1;
            border-bottom: 2px dotted #fff;
            margin: 0 8px;
        }
        
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: 5px 5px #fff;
    }

    &__favourites {
        cursor: pointer;
        width: 36px;
        height: 38px;
        border: 2px solid #000;
        background: url(./img/hearts.png) -74px -2px no-repeat;
        background-size: 115px auto;
        
        &:hover {
            background-position-x: -9px;
        }
        
        &-on {
            background-position-x: -9px;
        }
    }

    &__vote {
        width: 36px;
        height: 36px;
        text-align: center;
        cursor: pointer;

        &-plus {
            background: #30cea4;

            &:hover {
                background: #30af8d;
            }
        }

        &-minus {
            background: #d8401b;

            &:hover {
                background: #af4228;
            }
        }
    }

    &__control {
        text-align: center;
        padding-top: 12px;
    }

    .no-img {
        color: #000;
        font-size: 40px;
        line-height: 300px;
        transform: rotate(45deg);
    }

    &__vote_buttons {
        flex-grow: 1;
        padding-top: 12px;
    }

    &__button_vote {
        position: relative;
        border: none;
        cursor: pointer;
        transition: all 250ms;
        color: #fff;
        font-family: 'VT323';
        line-height: 1;
        font-size: 28px;
        text-transform: uppercase;
        outline: none;
        padding: 5px 12px;

        &-plus {
            background: #30cea4;
            box-shadow: 5px 5px 0 #33b492, 4px 4px 0 #33b492, 3px 3px 0 #33b492, 2px 2px 0 #33b492, 1px 1px 0 #33b492;
        }

        &-minus {
            background: #d8401b;
            box-shadow: 5px 5px 0 #b43333, 4px 4px 0 #b43333, 3px 3px 0 #b43333, 2px 2px 0 #b43333, 1px 1px 0 #b43333;
        }

        &:hover {
            background: #fc9706;
            box-shadow: 5px 5px 0 #f58901, 4px 4px 0 #f58901, 3px 3px 0 #f58901, 2px 2px 0 #f58901, 1px 1px 0 #f58901;
        }

        &:active {
            background: #9867cb;
            box-shadow: 5px 5px 0 #8349be, 4px 4px 0 #8349be, 3px 3px 0 #8349be, 2px 2px 0 #8349be, 1px 1px 0 #8349be;
        }
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            box-shadow: 10px 10px #000, 0px 10px #000, 10px 0px #000;
        }
    }

    &__checkbox {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__button {
        position: relative;
        background: #30cea4;
        border: none;
        cursor: pointer;
        transition: all 250ms;
        color: #fff;
        font-family: 'VT323';
        line-height: 1;
        font-size: 28px;
        text-transform: uppercase;
        outline: none;
        padding: 5px 12px;
        box-shadow: 5px 5px 0 #33b492, 4px 4px 0 #33b492, 3px 3px 0 #33b492, 2px 2px 0 #33b492, 1px 1px 0 #33b492;
        
        &:hover {
            background: #fc9706;
            box-shadow: 5px 5px 0 #f58901, 4px 4px 0 #f58901, 3px 3px 0 #f58901, 2px 2px 0 #f58901, 1px 1px 0 #f58901;
        }

        &:active {
            background: #9867cb;
            box-shadow: 5px 5px 0 #8349be, 4px 4px 0 #8349be, 3px 3px 0 #8349be, 2px 2px 0 #8349be, 1px 1px 0 #8349be;
        }
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            box-shadow: 10px 10px #000, 0px 10px #000, 10px 0px #000;
        }
    }
}

.button-groupe {
    display: flex;
    align-items: center;
}



.checkbox {
    position: relative;
    width: 44px;
    height: 44px;
    background: #000;
    cursor: pointer;
    border: 8px solid #36cba5;
    box-sizing: border-box;
    transition: all 250ms;
    box-shadow: 4px 4px 0 #299b7c, 3px 3px 0 #299b7c, 2px 2px 0 #299b7c, 1px 1px 0 #299b7c;

    &:hover {
        background: #fc9706;
    }

    &.checked {
        &:after {
            content: '';
            position: absolute;
            top: -3px;
            left: -3px;
            width: 28px;
            height: 28px;
            background: #fc9706;
            z-index: 4;
            box-shadow: 4px 4px 0 #f58901, 3px 3px 0 #f58901, 2px 2px 0 #f58901, 1px 1px 0 #f58901;
        }
    }
}