.nft {
    position: relative;
    width: 250px;
    display: flex;
    margin: 0 24px 40px;
    color: #000;
    font-size: 21px;
    flex-direction: column;
    background: #fff;
    z-index: 1;
    border: 5px solid #000;

    &__image {
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        overflow: hidden;
        margin: 8px 0;

        img {
            height: auto;
        }
    }

    &__meta {
        color: #000;
    
        &_row {
            display: flex;
            box-sizing: border-box;
            align-items: baseline;
            padding: 0 10px;
        }

        &_value {
            max-width: 105px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #000;

            a {
                color: #000;
                text-decoration: none;
            }
        }

        &_dot {
            flex-grow: 1;
            border-bottom: 2px dotted #000;
            margin: 0 8px;
        }
        
    }

    &__overlay {
        display: flex;
        position: relative;
    }

    &__favourites {
        cursor: pointer;
        width: 28px;
        height: 28px;
        background: url(./img/h.png) 0 -31px no-repeat;
        background-size: 22px auto;
        margin: 10px 5px 0;
        overflow: hidden;
        
        &:hover {
            background-position-y: 0;
        }
        
        &-on {
            background-position-y: 0;
        }
    }

    &__vote {
        width: 42px;
        height: 38px;
        text-align: center;
        cursor: pointer;
        line-height: 38px;
        font-size: 22px;
        font-weight: bold;
        display: flex;
        align-items: center;
        margin-right: 5px;

        .icon-minus {
            display: inline-block;
            width: 22px;
            height: 22px;
            background: url(./img/arr.png) 0 -23px no-repeat;
            background-size: 20px auto;
            top: 2px;
            position: relative;

            &:hover {
                background-position-y: -67px;
            }
        }

        .icon-plus {
            display: inline-block;
            width: 22px;
            height: 22px;
            background: url(./img/arr.png) 0 -2px no-repeat;
            background-size: 20px auto;

            &:hover {
                background-position-y: -46px;
            }
        }

        &-plus {
            color: #759D47;
        }

        &-minus {
            color: #E25241;
        }
    }

    &__control {
        text-align: center;
        padding: 4px 0 20px;
    }

    .no-img {
        color: #000;
        font-size: 40px;
        line-height: 300px;
        transform: rotate(45deg);
    }

    &__vote_buttons {
        flex-grow: 1;
        padding-top: 12px;
    }

    &__button_vote {
        position: relative;
        border: none;
        cursor: pointer;
        transition: all 250ms;
        color: #fff;
        font-family: 'VT323';
        line-height: 1;
        font-size: 28px;
        text-transform: uppercase;
        outline: none;
        padding: 5px 12px;

        &-plus {
            background: #30cea4;
            box-shadow: 5px 5px 0 #33b492, 4px 4px 0 #33b492, 3px 3px 0 #33b492, 2px 2px 0 #33b492, 1px 1px 0 #33b492;
        }

        &-minus {
            background: #d8401b;
            box-shadow: 5px 5px 0 #b43333, 4px 4px 0 #b43333, 3px 3px 0 #b43333, 2px 2px 0 #b43333, 1px 1px 0 #b43333;
        }

        &:hover {
            background: #fc9706;
            box-shadow: 5px 5px 0 #f58901, 4px 4px 0 #f58901, 3px 3px 0 #f58901, 2px 2px 0 #f58901, 1px 1px 0 #f58901;
        }

        &:active {
            background: #9867cb;
            box-shadow: 5px 5px 0 #8349be, 4px 4px 0 #8349be, 3px 3px 0 #8349be, 2px 2px 0 #8349be, 1px 1px 0 #8349be;
        }
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            box-shadow: 10px 10px #000, 0px 10px #000, 10px 0px #000;
        }
    }

    &__button {
        position: relative;
        background: #30cea4;
        border: none;
        cursor: pointer;
        transition: all 250ms;
        color: #fff;
        font-family: 'VT323';
        line-height: 1;
        font-size: 28px;
        text-transform: uppercase;
        outline: none;
        padding: 5px 12px;
        box-shadow: 5px 5px 0 #33b492, 4px 4px 0 #33b492, 3px 3px 0 #33b492, 2px 2px 0 #33b492, 1px 1px 0 #33b492;
        
        &.small {
            font-size: 20px;
            padding: 2px 6px;
        }

        &.disabled {
            cursor: default;
            background: #cacaca;
            box-shadow: 5px 5px 0 #bdbdbd, 4px 4px 0 #bdbdbd, 3px 3px 0 #bdbdbd, 2px 2px 0 #bdbdbd, 1px 1px 0 #bdbdbd;
            
            &:active,
            &:hover {
                background: #cacaca;
                box-shadow: 5px 5px 0 #bdbdbd, 4px 4px 0 #bdbdbd, 3px 3px 0 #bdbdbd, 2px 2px 0 #bdbdbd, 1px 1px 0 #bdbdbd;
            }
            
            &:before {
                box-shadow: 10px 10px #000, 0px 10px #000, 10px 0px #000;
            }
        }

        &:hover {
            background: #fc9706;
            box-shadow: 5px 5px 0 #f58901, 4px 4px 0 #f58901, 3px 3px 0 #f58901, 2px 2px 0 #f58901, 1px 1px 0 #f58901;
        }

        &:active {
            background: #9867cb;
            box-shadow: 5px 5px 0 #8349be, 4px 4px 0 #8349be, 3px 3px 0 #8349be, 2px 2px 0 #8349be, 1px 1px 0 #8349be;
        }
        
        &.red {
            background: #f14c4c;
            box-shadow: 5px 5px 0 #d82020, 4px 4px 0 #d82020, 3px 3px 0 #d82020, 2px 2px 0 #d82020, 1px 1px 0 #d82020;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: -1;
            box-shadow: 10px 10px #000, 0px 10px #000, 10px 0px #000;
        }
    }
}

.button-groupe {
    display: flex;
    align-items: center;
}

.spacer {
    flex-grow: 1;
}

.nft__checkbox {
    position: relative;
    left: -4px;
}

.checkbox {
    position: relative;
    width: 32px;
    height: 32px;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 250ms;
    background: #36cba5;
    box-shadow: 4px 4px 0 #299b7c, 3px 3px 0 #299b7c, 2px 2px 0 #299b7c, 1px 1px 0 #299b7c;

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        box-shadow: 8px 0px #000, 0px 8px #000, 8px 8px #000;
    }

    &:hover {
        background: #fc9706;
        box-shadow: 4px 4px #DF732C, 3px 3px #DF732C, 2px 2px #DF732C, 1px 1px #DF732C;
    }

    &.checked {
        background: #fc9706;
        box-shadow: none;

        &:before {
            box-shadow: 4px 0px #000, -4px -4px #000, -4px 7px #000, 6px 7px #000, 6px -4px #000;
        }
    }
}

.skeleton {
    height: 510px;
    &-item {
        background: rgb(243, 243, 243);
        margin: 6px auto;
        border-radius: 4px;
        background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
        background-size: 250px;
        animation: skeletonAnim 1s infinite linear;
        
        &.control {
            width: 90%;
            height: 32px;
        }
        &.img {
            width: 90%;
            height: 300px;
        }
        &.meta-line {
            width: 90%;
            height: 22px;
        }
    
        &.btn {
            width: 60%;
            height: 40px;
        }
    }
}


@keyframes skeletonAnim {
  0% {
    background-position: -100px;
  }
  40%, 100% {
    background-position: 250px
  }
}