.rainbow-button {
  width: 120px;
  height: 46px !important;
  padding: 2px;
  background-image: linear-gradient(
    90deg,
    #00c0ff 0%,
    #ffcf00 49%,
    #fc4f4f 80%,
    #00c0ff 100%
  );
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  cursor: cell;

  &:disabled {
    background-color: unset;
    border-color: unset;
    background-image: linear-gradient(
      #222222 0%,
      #3f3f3f 49%,
      #1f1f1f 80%,
      #222222 100%
    );
    cursor: auto;
  }

  &:after {
    content: attr(data-text);
    width: 120px;
    height: 38px;
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    animation: slidebg 4.5s linear infinite;
  }
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
