$shadow: -0.6rem 0.6rem 0 rgba(29, 30, 28, 0.26);

input,
button,
textarea {
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-image: none;
  background-color: #dadad3;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 5px;

  &:focus {
    outline: none;
  }
}

textarea {
  min-height: 50px;
  resize: vertical;
}

button {
  cursor: pointer;
  font-weight: 500;
}

.feedback {
  &-card {
    border: 1px solid black;
    max-width: 980px;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: $shadow;
  }
  &-header {
    text-align: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid black;
  }
  &-body {
    padding: 20px;
    display: flex;
    flex-direction: column;

    &__message {
      margin-top: 10px;
    }

    button {
      margin-top: 10px;
      align-self: flex-end;
    }
  }
}
