// html {
//   height: 100%;
// }

// body {
//   height: 100%;
//   margin: 0;
//   background: linear-gradient(45deg, #49a09d, #5f2c82);
//   font-family: sans-serif;
//   font-weight: 100;
// }

table {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
}

th {
  text-align: left;
  color: white;
}

td {
  color: black;
}

thead th {
  background-color: #663399;
}

tbody {
  tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  td {
    position: relative;

    &:hover:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -9999px;
      bottom: -9999px;
      background-color: rgba(255, 255, 255, 0.2);
      z-index: -1;
    }
  }
}
