.switch {
    display: flex;
    align-items: center;

    &__title {
        font-size: 22px;
        color: #fff;
        padding-right: 16px;
    }
}

.toggle {
    position: relative;
    width: 80px;
    height: 40px;
    background: #000;

    &__pin {
        position: absolute;
        cursor: pointer;
        top: -2px;
        left: -2px;
        width: 36px;
        height: 36px;
        transition: all 250ms;
        background: #36cba5;
        box-shadow: 4px 4px 0 #299b7c, 3px 3px 0 #299b7c, 2px 2px 0 #299b7c, 1px 1px 0 #299b7c;
    }

    &__active {
        .toggle__pin {
            left: 38px;
        }
    }
}