$orange: #ff9800;
$orange-dark: #ef6c00;
$purple: #9966cc;
$purple-dark: #6a3a95;
$green: #33c8a1;
$green-dark: #26957c;
$grey-light: #eee6f6;
$grey: #b4b4b4;
$grey-dark: #9a9a9a;
$red: #f14c4c;
$red-dark:#d82020;
$black: #000;
$white: #fff;
