.Wrap {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 50px;
}

.TransactionNotifier svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeLarge {
  position: absolute;
  left: 50%;
  margin-left: -19px;
  top: 15px;
}
